@model IEnumerable<bancoDeImagens.Models.Images>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="button success" asp-action="Create">Create New</a>
</p>
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        if (item.Type == ".jpeg" || item.Type == ".jpg" || item.Type == ".png" || item.Type == ".gif")
        {
            @*".gif", ".jpeg", ".jpg", ".png", ".mp4", ".mp3"*@

            <div class="col mb-4" style="text-align:center;">
                <div class="card">
                    <img src="~/arq/@item.Name" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Type)</h5><p></p>
                        <p class="card-text">
                            <a asp-action="Edit" class="button edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" class="button ok" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" class="button delete" asp-route-id="@item.Id">Deletar</a>
                        </p><p></p>
                        <p class="card-text" style="text-align-center">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>
            </div>
        }
        else if (item.Type == ".mp4")
        {

            <div class="col mb-4" style="text-align:center;">
                <div class="card">
                    <video class="card-img-top" controls><source src="~/arq/@item.Name" class="card-img-top" alt="..."></video>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Type)</h5><p></p>
                        <p class="card-text">
                            <a asp-action="Edit" class="button edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" class="button ok" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" class="button delete" asp-route-id="@item.Id">Deletar</a>
                        </p><p></p>
                        <p class="card-text" style="text-align-center">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>
            </div>
        }
        else if (item.Type == ".mp3")
        {
            <div class="col mb-4" style="text-align:center;">
                <div class="card">
                    <audio class="card-img-top" controls><source src="~/arq/@item.Name" class="card-img-top" alt="..."></audio>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Type)</h5><p></p>
                        <p class="card-text">
                            <a asp-action="Edit" class="button edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" class="button ok" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" class="button delete" asp-route-id="@item.Id">Deletar</a>
                        </p><p></p>
                        <p class="card-text" style="text-align-center">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
